@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.footer {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 12px;
    background-color: #2b5f9b;
    color: #d7d3c7;;
}

a {
    text-decoration: none;
    color: inherit;
}

.redes-sociais svg  {
    padding: 15px;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    cursor: pointer;
}

.redes-sociais p {
    padding-left: 55px;
}

.redes-sociais svg:hover {
    color: #ffffff;
    transform: scale(1.2);
}

.descricao {
    font-size: 18px;
}

.descricao, .desenvolvedor {
    font-weight: bold;
    font-family: "Inter", sans-serif;
    align-items: center;   
    display: flex;
}

.desenvolvedor {
    font-size: 14px;
    padding-right: 5px;
}

.desenvolvedor a {
    color: #c5b68a;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.desenvolvedor a:hover {
    color: #ffffff;
    text-decoration: none;
}